<div ngClass="welcome-container">
  <h1>Begin by finding the ID to your Sleeper Fantasy League*</h1>
  <div>
    <h2 ngClass="instructions-header">To find you league ID either:</h2>
    <div ngClass="instructions-container">
      <span ngClass="computer-instructions">
        <span style="font-weight: bold">On a Computer:</span>
        <ol>
          <li>
            Go to
            <span>
              <a href="https://sleeper.app" ngClass="sleeper-link"
                >sleeper.app</a
              >
            </span>
            and find the league you want.
          </li>
          <li>
            Copy the number in the URL that comes after<br />
            https://sleeper.app/leagues/
          </li>
          <li>Paste it below</li>
        </ol>
      </span>
      <span ngClass="app-instructions">
        <span style="font-weight: bold">On the Sleeper App:</span>
        <ol>
          <li>Go to your League page</li>
          <li>Tap the settings gear by League Settings</li>
          <li>Tap on General</li>
          <li>Scroll to the bottom and tap Copy League ID</li>
          <li>Paste the league id into the form below</li>
        </ol>
      </span>
    </div>
  </div>
  <mat-card ngClass="welcome-form">
    <mat-card-header>
      <mat-card-title>Enter Your League ID Here</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form ngClass="league-id-input">
        <mat-form-field style="width: 100%">
          <input
            matInput
            placeholder="League ID"
            type="text"
            [(ngModel)]="leagueIdInput"
            name="ID"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div ngClass="btn-container">
        <button
          mat-raised-button
          (click)="setLeagueId()"
          ngClass="view-league-btn"
          color="primary"
        >
          View My League
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<footer ngClass="bottom-note">
  *note: SFF works for all Sleeper fantasy leagues, but it does not work for
  March Madness, Squads, or any other event that doesn't involve a draft or
  rosters.
</footer>
