<ui-league-page-header title="Teams"></ui-league-page-header>
<div class="flex flex-col min-w-40 max-w-fit">
  <div
    class="flex justify-between items-center bg-white text-black p-2 cursor-pointer"
    [ngClass]="dropdownOpen ? 'rounded-t-lg': 'rounded-lg'"
    (click)="toggleDropdown()">
    <span class="pr-2">{{selectedManager ?? 'Select a team'}}</span>
    <i class="fa-solid"
      [ngClass]="dropdownOpen ? 'fa-chevron-up' : 'fa-chevron-down'">
    </i>
  </div>
  <ul *ngIf="dropdownOpen" class="bg-white text-black p-2 rounded-b-lg cursor-pointer">
    <ng-container *ngFor="let team of allTeams; let i = index;">
      <li (click)="selectTeam(i)" class="py-2">
        {{team.username}}
      </li>
    </ng-container>
  </ul>
</div>
<ng-container *ngIf="isLoading else players">
  <span>Loading...</span>
</ng-container>
<ng-template #players>
  <div class="flex flex-col">
    <span *ngFor="let player of selectedTeam?.players" class="text-white py-1">
      {{player.full_name}}
    </span>
  </div>
</ng-template>
