@import "../../app.component.scss";

.league-id-input {
  color: $black;
  background-color: white;
}

.input-box {
  padding: 10px;
  border: 2px solid $orange;
}

.sleeper-link {
  color: $blue;
}

.sleeper-link:visited {
  color: $pink;
}
