.league-id-input {
  color: var(--black);
  background-color: white;
}

.input-box {
  padding: 10px;
  border: 2px solid var(--orange);
}

.sleeper-link {
  color: var(--blue);
}

.sleeper-link:visited {
  color: var(--pink);
}
