<div ngClass="graph-container">
    <div ngClass="chart-container">
        <h2>Max Points vs Wins</h2>
        <p>Better teams are further right and more successful teams are further up</p>
        <p>
            Better managers have larger dots - dot size is proportional to the percentage of max points the team has
            scored
        </p>
        <div ngClass="points-chart">
            <canvas baseChart [data]="bubbleChartData" [options]="bubbleChartOptions" [type]="bubbleChartType">
            </canvas>
        </div>
    </div>
</div>