.active {
  border: 2px solid white;
  border-radius: 5px;
}

.hamburger-nav-item {
  background-color: var(--orange);
  cursor: pointer;
  border-top: 1px solid white;

  &:last-child {
    border-bottom: 1px solid white;
  }
}
