.sidebar {
  &-container {
    padding: 10px;
    background-color: var(--orange);
    width: 50px;
    align-items: center;

    &-expanded {
      width: max-content;
      align-items: start;
    }
  }

  &-link {
    padding-top: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.icon {
  width: 25px;
  cursor: pointer;

  &-sm {
    width: 15px;
  }
}

.close-chevron {
  transform: rotate(180deg);
}

.reset-btn {
  border-radius: 10px;
  border: 2px solid var(--black);
  margin-bottom: 40px;
  background-color: var(--blue);
  padding: 5px;

  &-expanded {
    display: flex;
  }
}
