<div class="h-full flex flex-col">
  <h1 class="text-2xl text-center pb-10">{{pageTitle}}</h1>
  <p-table
    *ngIf="seasonStarted else preseasonMessage"
    [tableStyle]="{'min-width': '50rem'}"
    [styleClass]="gridStyle"
    [columns]="columnDefs"
    [value]="standingsData"
    sortField="wins"
    [sortOrder]="-1">
    <ng-template pTemplate="header">
      <tr>
        <th pFrozenColumn>Manager</th>
        <th pSortableColumn="wins">
          Wins <p-sortIcon field="wins" />
        </th>
        <th pSortableColumn="losses">
          Losses <p-sortIcon field="losses" />
        </th>
        <th pSortableColumn="streak">
          Streak <p-sortIcon field="streak" />
        </th>
        <th pSortableColumn="maxPoints">
          Max Points <p-sortIcon field="maxPoints" />
        </th>
        <th pSortableColumn="points">
          PF <p-sortIcon field="points" />
        </th>
        <th pSortableColumn="pointsAgainst">
          PA <p-sortIcon field="pointsAgainst" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-team>
      <tr>
        <td pFrozenColumn>
          <div class="flex items-center">
            <img [src]="team.avatarUrl" alt="avatar" width="30" class="rounded-md" />
            <span class="pl-2">{{ team.username }}</span>
          </div>
        </td>
        <td>{{team.wins}}</td>
        <td>{{team.losses}}</td>
        <td>
          <p-tag [value]="team.streak" [icon]="team.streakIcon" [severity]="team.streakColor" />
        </td>
        <td>{{team.maxPoints}}</td>
        <td>{{team.points}}</td>
        <td>{{team.pointsAgainst}}</td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template #preseasonMessage>
    <h3 class="text-xl text-center">Season begins soon!</h3>
  </ng-template>
</div>
