<div class="h-full w-full flex flex-col">
  <h1 class="text-2xl text-center pb-10">{{pageTitle}}</h1>
  <p-table
    *ngIf="seasonStarted else preseasonMessage"
    [columns]="columnDefs"
    [value]="leaguePageData"
    sortMode="multiple">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th [pSortableColumn]="col.field" *ngFor="let col of columns">
            {{ col.header }} <p-sortIcon [field]="col.field" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template #preseasonMessage>
    <h3 class="text-xl text-center">Season begins soon!</h3>
  </ng-template>
</div>
