<ng-container *ngIf="isLoading else transactionList">
  <div class="flex items-center justify-center">
    <p-progressSpinner />
  </div>
</ng-container>
<ng-template #transactionList>
  <div class="flex flex-col gap-1">
    <div *ngFor="let t of transactions" class="flex flex-col">
      <ng-container *ngIf="t.rosterMoves?.[0]?.type !== 'trade' else trade">
        <ng-container *ngFor="let m of t.rosterMoves">
          <h5 class="text-md pb-2">{{(t.type === 'free_agent' ? 'free agent' : t.type) | titlecase}}</h5>
          <div class="flex flex-col gap-3 text-xs">
            <div class="flex items-center gap-2">
              <img *ngIf="m.manager?.avatarUrl" [src]="m.manager?.avatarUrl" alt="avatar" width="30" class="rounded-md" />
              <span>{{m.manager?.display_name ?? 'manager missing'}}</span>
            </div>
            <div class="flex items-start justify-between">
              <div *ngFor="let add of m.adds" class="flex flex-col">
                <div>
                  <i ngClass="fa-solid fa-plus add pr-2"></i>
                  <span>{{add?.full_name ?? add.player_id}}</span>
                </div>
                <span *ngIf="m.waiverBid">Bid: ${{m.waiverBid}}</span>
              </div>
              <div *ngFor="let drop of m.drops">
                <i ngClass="fa-solid fa-minus drop pr-2"></i>
                <span>{{drop?.full_name ?? drop.player_id}}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #trade>
        <h5 class="text-md pb-2">Trade</h5>
        <div class="flex justify-between text-xs">
          <ng-container *ngFor="let m of t.rosterMoves; index as i">
            <i *ngIf="i !== 0" class="fa-solid fa-rotate fa-xl self-center trade"></i>
            <div class="flex flex-col h-full justify-between">
              <div class="flex items-center gap-2 pb-2">
                <img *ngIf="m.manager?.avatarUrl" [src]="m.manager?.avatarUrl" alt="avatar" width="30" class="rounded-md" />
                <span>{{m.manager?.display_name ?? 'manager missing'}}</span>
              </div>
              <div *ngFor="let add of m.adds" class="flex items-center">
                <i ngClass="fa-solid fa-plus add pr-2"></i>
                <span>{{add?.full_name ?? add.player_id}}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>
      <p-divider />
    </div>
  </div>
</ng-template>
